:root {
    --black: #000000;
    --lightgray: #E3E3E3;
    --mediumgray: #808080;
    --brightgreen: #84E62D;
    --mediumgreen: #63C60C;
  }
  
/*global styles*/
body {
    background-color: var(--lightgray)
}

.bodytext {
    font-family: "GT-America-Regular", Helvetica;
    font-size: 20px;
}


.subtext {
    font-family: "GT-America-Regular", Helvetica;
    font-size: 12px;
}

/*header*/

#header {
    padding-top: 3vh;
    padding-bottom: 20vh;
    box-sizing: border-box;
}

#logotype {
    font-family: "Thunder-Bold", Helvetica;
    font-size: 40px;
    position: relative;
}

#about {
    font-family: "GT-America-Regular", Helvetica;
    text-align: right;
}

.header-column {
    float: left;
    width: 50%;
}

/*intro styles*/
#intro-scroll-container {
    height: 800vh;
}

#intro-container {
    margin: auto;
    max-width: 90vw;
    height: 100vh;
    position: sticky;
    top: 0;
}

.intro-column1 {
    float: left;
    width: 35%;
    padding-right: 20px;
}

#intro-p2 {
    opacity: 0;
}

.slash {
    position: absolute;
    transform: translateX(20vw);
    height: 65vh;
    opacity: 0;
}

.svg-1 {
    position: absolute;
    width: 100vw;
    height: 120vh;
    transform: translateX(-45vw) translateY(-30vh);
}

circle {
    fill: var(--mediumgreen);
}


#intro-reverse-split-trigger {
    position: absolute;
    transform: translateY(120vh);
}

#intro-split-trigger {
    position: absolute;
    transform: translateY(180vh);
}

.year {
    text-align: right;
    opacity: 0;
}

#year-container {
    padding-left: 8px;
    position: absolute;
    right: 0;
    border-left: 1px solid var(--mediumgray);
}

#y1989 {
    opacity: 1;
}

#end-intro-trigger {
    position: absolute;
}

/* TITLE */
#title {
    height: 500vh;
}